PROJECT_DIR=projects
CONFIG_DIR=config
MAPPINGS_DIR=mappings
TMP_DIR=tmp

$(MAPPINGS_DIR)/ $(TMP_DIR)/:
	mkdir -p $@

MAKEFILE_TEMPLATE=$(CONFIG_DIR)/project.Makefile.j2

ALL_PROJECTS=$(strip $(patsubst %.symbiont.yaml, %, $(notdir $(wildcard $(PROJECT_DIR)/*.yaml))))
ALL_SYMBIONT = $(patsubst %, symbiont-%, $(ALL_PROJECTS))

all: $(ALL_SYMBIONT)

symbiont-%:
	mkdir -p $(PROJECT_DIR)/$*
	j2 $(MAKEFILE_TEMPLATE) $(PROJECT_DIR)/$*.symbiont.yaml > $(PROJECT_DIR)/$*/Makefile
	touch $(PROJECT_DIR)/$*/custom.Makefile
	cd $(PROJECT_DIR)/$* && make all HOME_DIR=$(shell pwd)

#####################
## Mappings #########
#####################

ALL_MAPPINGS={% for mapping in mapping_set_references %}$(MAPPINGS_DIR)/{{ mapping.local_name }} {% endfor %}

{% for mapping in mapping_set_references %}
$(MAPPINGS_DIR)/{{ mapping.local_name }}: | $(MAPPINGS_DIR)/
	wget {{ mapping.mirror_from|default(mapping.mapping_set_id) }} -O $@
{% endfor %}

mappings: $(ALL_MAPPINGS)

all: $(ALL_MAPPINGS)

include custom.Makefile